<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
	<defs>
		<pattern id="img1" patternUnits="userSpaceOnUse" width="512" height="512">
			<image xlink:href="{{imageUrl}}" x="-20" y="0" width="812" height="512" />
		</pattern>
	</defs>

	<path stroke="red" d="M37,37C76.1-2.1,200.7,5,256,5s179.9-7.1,219,32s32,163.7,32,219s7.1,179.9-32,219s-163.7,32-219,32s-179.9,7.1-219-32
		S5,311.3,5,256S-2.1,76.1,37,37z" fill="url(#img1)"/>

</svg>
